* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.book_wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form {
    max-width: 350px;
    width: 100%;
}

.login-form-forgot {
    float: right;
}

.ant-col-rtl .login-form-forgot {
    float: left;
}

.login-form-button {
    width: 100%;
}